<html>
<head>
	<title>berlotto hero dev python environment :-)</title>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" media="screen" title="Default">
</head>
<body>
	
	<header>
		<span>Visit: <a href="http://pythonrs.org">http://pythonrs.org</a></span>
		<h1><a href="/">Hello World!</a></h1>
	</header>

	<div class="main-body">
		<div class="main-content">
			{%block content%}{%endblock%}
		</div>
	</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38630032-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>